.optional-login {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 15px;
}

.optional-login .optional-login__text {
    color: #8e8e8e;
    font-size: 1.15rem;
}

.dash {
    border: 1px solid rgba(189, 195, 199, 0.5);
    width: 35%;
    height: 0px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.download-image {
    width: 45%;
    height: 40px;
    margin: 4px;
}

.basic-link {
    color: inherit;
    text-decoration: none;
}
