.picker-container {
    position: relative;
    width: 89.9%;
    margin-top: 20px;
}

.picker-container.light {
    background-color: #ffffff;
}

.picker-container.dark {
    background-color: #121212;
}

.emoji-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 5px;
    height: 30px;
}

.emoji-icon.dark {
    background-color: #ffffff;
    border-radius: 50%;
}

.comment-input {
    padding: 7px 30px 7px 10px;
    width: 91.7%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #999;
    margin-bottom: 10px;
    padding-left: 40px;
}

.comment-input.comment-input-light {
    background-color: #ffffff;
    color: '#121212';
}

.comment-input.comment-input-dark {
    background-color: #121212;
    color: #ffffff;
}