.comment-input {
    padding: 7px 30px 7px 10px;
    width: 60%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #999;
    margin-bottom: 10px;
}

.comment-input.comment-input-light {
    background-color: #ffffff;
    color: '#121212';
}

.comment-input.comment-input-dark {
    background-color: #121212;
    color: #ffffff;
}
