.single-post__image {
    height: 250px;
    width: 100%;
}

.single-post__image--small {
    height: 120px;
    width: 42%;
    object-fit: contain;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 8px;
}
